<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            
                            <div class="logo" style="margin-right: 20px;"><a style="color:  rgb(209, 148, 5);font-size: 150%;font-weight:bold;" ><img src="assets/menu/assets/img/hero/back.jpeg" alt="" height="70" width="70" style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px;"></a>
                                
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li> <a type="button"routerLink="/home">Home</a></li>
                                          <li> <a type="button"routerLink="/about"> About-Us</a></li>
                                           <li> <a type="button"routerLink="/contact">Contact</a></li>
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a routerLink="/register" class="btn" style="margin-right: 20px;">Sign Up</a></li>
                                            <li class="button-header"><a routerLink="/login" class="btn">Sign In</a></li>
                                        </ul>
                                    </nav>
                                    
                                </div>
                            </div>
                        </div> 
                        
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>




