
<!-- Preloader Start -->
<app-header></app-header>

<div class="about-area1 section-padding40">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
              
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                   
                    <p class="mb-40">Goldorpay est une structure internationale reconnue par l’union européenne est également plusieurs organisations africaines et asiatiques. Notre structure est basé sur les échanges du marché boursier. Grâce au trading vous assurant un meilleur avenir à la jeunesse de la prochaine génération. Nous tradons l’or dans le plus profond de ses entrailles à fin de bénéficier de ses innombrables service. Golda pays offre un service très qualifié. Notre structure est représenté par plusieurs traders international et ayant pas moins d’une décennie d’expérience.</p>
                 <h2 style="color: rgb(209, 148, 5);">Pourquoi investir dans l'Or? </h2>
                      <ul>
                        <li>
                            
                            <p> L'Or est la matière première la plus volatile et plus importante </p>
                        </li>
                        <li>
                            
                            <p>Grâce à sa volatilité  il vous fait profité même dans les plus fins fonds de ses mouvements </p>
                        </li>
                        <li>
                            
                            <p>Payement jusqu'à 300% en raison de 10% chaque 24H</p>
                        </li>
                        <li>
                            
                          <p> Notre siège se trouve en Russie et également en Chine.</p>
                      </li><li>
                            
                          <p> Nous opérons dans le monde la Crypto Monnaie grâce à nos experts traders et également à certains robots très sophistiqué.</p>
                      </li>
                      <li>
                            
                          <p> L’or a, de tous temps, été une valeur d’investissement populaires et appréciée par de nombreux traders. Mais comment s'enrichir avec de l’or en Bourse aujourd’hui ? C’est ce que nous vous proposons de découvrir au travers de ce site avec quelques arguments pour chacune des méthodes existantes. Vous découvrirez également ici quels sont les avantages et inconvénients de l’achat d’or en Bourse et des informations pour en réaliser des analyses pertinentes. L'or vous rendra riche grâce au forex</p>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-1 Area End -->
<!--? About-2 Area Start -->
<div class="about-area1 pb-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption about-caption3 mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2 style="color: rgb(209, 148, 5);">Dedicated support</h2>
                    </div>
                     <ul class="mb-30">
                        <li>
                      <p>Ce site permet à ses utilisateurs d’investir dans l’Or. Tous les investisseurs peuvent donc utiliser la plateforme, qu’ils soient qualifiés ou non. Chaque investissement comporte des frais qui varient selon qu’il s’agisse d’un prêt ou d’un achat d’actions.

                          Frais : Le site requiert un investissement minimum de 50 $.</p>
                        </li>
                        
                    </ul>
                    <a href="tel:+1 892-293 2678" class="btn"><i class="fas fa-phone-alt"></i>+1 892-293 2678</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                
            </div>
        </div>
    </div>
</div>
<!-- About-2 Area End -->
<!-- ask questions -->
<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2 style="color: rgb(209, 148, 5);">Frequently ask questions</h2>
                    
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Comment investir ?</h2>
                        <p>Pour effectuer votre investissement c’est très simple et pratique. Crée un compte. Choisissez votre service et Choisissez ensuite le montant de votre investissement et effectuer le payement par les moyens possibles.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Comment être sûre de vos services ?
                          ?</h2>
                        <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Quel sont les moyens possible pour effectuer un dépôt ?</h2>
                        <p>Nous présentons une expérience de 15 ans dans le marché financier et nous travaillons avec plusieurs trader internationaux ainsi que plusieurs banques.</p>
                    <p>Nous garantissons votre sécurité à 100%</p> 
                      </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Dans quel pays vos siège se trouvent ??</h2>
                        <p>Nos sièges sont respectivement en Russie en chine en Amérique du Sud et en Afrique du Sud
                      </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- End ask questions -->
<!--? Testimonial Area Start -->

<!--? Testimonial Area End -->

<app-footer></app-footer>
<!-- Scroll Up -->
<div id="back-top" >
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
