


<!-- Register -->

<main class="login-body" style="background: black;" >
<!-- Login Admin -->
<form class="form-default"  method="POST">
    
    <div class="login-form" style="margin-top: -30%;">
        <!-- logo-login -->
        
        <br> <div></div>
        <h2 style="color: rgb(209, 148, 5);">Registration Here</h2>

        <div class="form-input">
            <label for="name">Full name</label>
            <input  type="text" name="name" placeholder="Full name">
        </div>
        <div class="form-input">
            <label for="name">Email Address</label>
            <input type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-input">
            <label for="name">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="form-input">
            <label for="name">Confirm Password</label>
            <input type="password" name="password" placeholder="Confirm Password">
        </div>
        <div class="form-input pt-30">
            <input type="submit" routerLink="/login" value="Registration">
        </div>
        <!-- Forget Password -->
        <a routerLink="/login" class="registration">login</a>
    </div>
</form>
<!-- /end login form -->
</main>